.Sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
    color: aliceblue;
}

.logo {
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: aliceblue;
}

.logo > img {
    width: 3rem;
    height: 3rem;
}

.menu {
    margin-top: 4rem;
    flex-direction: column;
    gap: 2rem;
}

.menuItem {
    padding-left: 2%;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
    border-radius: 0.7rem;
    cursor: pointer;
}

.menuItem:hover {
    cursor: pointer;
}

.activeTab {
    background: var(--activeItem);
    margin-left: 0;
}

.active::before {
    content: '';
    width: 8px;
    height: 100%;
    background: var(--pink);
    margin-right: calc(1rem - 8px);
}

/* Show toggleMenuButton on mobile */
.toggleMenuButton {
    display: none; /* Hide toggle button on desktop */
}

/* Media query for showing toggleMenuButton on mobile */
@media screen and (max-width: 768px) {
    .Sidebar {
        width: 100%;
    }
    .logo {
        display: none;
    }
    .logo > span {
        display: none;
    }
    /* Show toggleMenuButton on mobile */
    .toggleMenuButton {
        display: flex; /* Display toggle button on mobile */
        align-items: center;
        justify-content: center;
        height: 3rem; /* Adjust height as needed */
    }
    
    /* Show menu on mobile */
    .menu {
        display: flex;
    }
}

/* Media query for showing menu directly on desktop */
@media screen and (min-width: 769px) {
    /* Hide toggleMenuButton on desktop */
    .toggleMenuButton {
        display: flex;
    }
    /* Show menu on desktop */
    .menu {
        display: flex;
    }
}
