.MainDash{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.heading-dashboad{

color: #ccc;
}



.glowing-border {
  position: relative;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 20px;
  animation: glowing 2s infinite; /* Adjust the duration as needed */
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000;
  }
  50% {
    box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
  }
  100% {
    box-shadow: 0 0 5px #0000ff, 0 0 10px #0000ff, 0 0 20px #0000ff;
  }
}

.heading{
    margin-top: 2%;
    color:rgb(244, 238, 238);
    display: flex;
}
.user{
    display: flex;
    flex-direction: column-reverse;
}

.myPass {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .aadhar-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .aadhar-photo {
    width: 100px; /* Adjust the image width as needed */
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .aadhar-details {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .aadhar-details div {
    text-align: left;
  }
  
  .active-pass {
    margin-top: 20px;
    font-weight: bold;
  }
  /* Add this modal style at the end of your CSS file */
  .modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  box-shadow: 0px 10px 20px 0px #e0c6f5;
    align-items: center;
    justify-content: center;
}

.modal-content {
  
    padding: 10px; /* Adjust the padding as needed */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Adjust the max-width as needed */
    width: 100%;
}

.modal-photo {
    width: 80px; /* Adjust the image width as needed */
    border-radius: 50%;
    margin-bottom: 10px;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4{
    justify-content: center;
    color: #f5eff3;
    padding-left: 1%;
}

.centered-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen  and (max-width:1200px){
    .MainDash{
        justify-content: flex-start;
        margin-top: 2rem;
    }
}

@media screen  and (max-width:768px){
    .MainDash{
        align-items: center;
    }
    .cards-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5%; /* Adjust margin as needed */
    }
}

@keyframes shining {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 400% 400%;
  }
}
.centered-card{
  color: #f5eff3;
}
